ion-menu-button {
    color: var(--ion-color-primary);
  }
  
  #container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  
  .fixed-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .popover-content {
    height: 80px; /* Adjust the height as needed */
    overflow-y: auto;
  }
  .icon{
    font-size:22px;
  }
  .settings-item {
    padding: 10px;
    border-radius: 20px;
  }
  
  .settings-icon {
    color: #ffffff;
    font-size: 20px;
  }
  
  .settings-label {
    color: #ffffff;
  }
  
  .video-device-label {
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 10px;
    
  }
  
  .video-device-item {
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .video-icon {
    color: #ffffff;
    font-size: 20px;
    margin-top: 10px;
    margin-right: 10px;
  }
  
  .video-device-select{
    margin-top: 10px;
  }
