<ion-content>
  <ion-card class="login-card">
    <ion-card-header>
      <div class="logo-container">
        <ion-img class="logo" src="assets\Logo.png"></ion-img>
      </div>
      <ion-card-title class="title">FACE-IT</ion-card-title>
      <ion-card-title class="titlesub">Application of Facial Recognition in Revolutionizing Customer Feedback Using Customer Emotion</ion-card-title>
    </ion-card-header>
    <form (ngSubmit)="signIn()">
      <ion-item>
        <ion-label position="floating">Username</ion-label>
        <ion-input [(ngModel)]="email" name="email" id="email" type="text" placeholder="Enter your username"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input #passwordInputRef [(ngModel)]="password" name="password" id="password" type="password" placeholder="Enter your password"></ion-input>
        <ion-icon
          [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"
          slot="end"
          color="primary"
          (click)="togglePasswordVisibility()"
          class="eye-icon"
          style="position: absolute; right: 8px; bottom: 8px"
        ></ion-icon>
      </ion-item>

      <div class="forgot-password-container">
        <ion-button fill="clear" id="trigger-button" class="forgot-password-link">Forgot Password?</ion-button>
        <ion-popover trigger="trigger-button" side="top" alignment="start">
          <ng-template>
            <ion-content class="popover-content">
              <ion-list>
                <ion-item [button]="true" id="open-modal">
                  <ion-icon class="icon settings-icon" name="reload" slot="start"></ion-icon>
                  <ion-label>Reset Password</ion-label>
                  <ion-modal #modal trigger="open-modal">
                    <ng-template>
                      <ion-header>
                        <ion-toolbar>
                          <ion-title>Password Reset</ion-title>
                          <ion-buttons slot="end">
                            <ion-button (click)="closeModal()">
                              <ion-icon class="icon" name="close"></ion-icon>
                            </ion-button>
                          </ion-buttons>
                        </ion-toolbar>
                      </ion-header>
                      <ion-content>
                        <ion-item>
                          <ion-input [clearInput]="true" name="email" type="email" placeholder="example@example.com" [(ngModel)]="email" >
                            <div slot="label">Email <ion-text color="danger">(Required)</ion-text></div>
                          </ion-input>
                          <ion-button (click)="resetPassword()">Reset</ion-button>
                        </ion-item>
                        <ion-item *ngIf="emailSent" lines="none" color="success" class="message">
                          <ion-label>Password reset email sent successfully.</ion-label>
                        </ion-item>
                      </ion-content>
                    </ng-template>
                  </ion-modal>
                </ion-item>
              </ion-list>
            </ion-content>
          </ng-template>
        </ion-popover>
      </div>

      <ion-button type="submit" class="login-button" id="Login" name="Login">Sign In</ion-button>

      <ion-item *ngIf="errorMessage" lines="none" color="danger"class="message">
        <ion-label>{{ errorMessage }}</ion-label>
      </ion-item>
    </form>

    <div class="divider-line">
      <div class="line"></div>
      <span class="or-login-with">or login with</span>
      <div class="line"></div>
    </div>

    <div class="social-icons">
      <a href="https://www.google.com" target="_blank"
        ><ion-icon name="logo-google" class="social-icon"></ion-icon
      ></a>
      <a href="https://www.facebook.com" target="_blank"
        ><ion-icon name="logo-facebook" class="social-icon"></ion-icon
      ></a>
      <a href="https://www.linkedin.com" target="_blank"
        ><ion-icon name="logo-linkedin" class="social-icon"></ion-icon
      ></a>
      <a href="https://www.twitter.com" target="_blank"
        ><ion-icon name="logo-twitter" class="social-icon"></ion-icon
      ></a>
    </div>
  </ion-card>
</ion-content>
