<ion-content>
  <ion-card class="login-card">
    <ion-card-header>
      <div class="logo-container">
        <ion-img class="logo" src="assets\Logo.png"></ion-img>
      </div>
      <ion-card-title class="title">FACE-IT</ion-card-title>
      <ion-card-title class="titlesub">Application of Facial Recognition in Revolutionizing Customer Feedback Using Customer Emotion</ion-card-title>
    </ion-card-header>
    <form (ngSubmit)="signIn()">
      <ion-item>
        <ion-label position="floating">Username</ion-label>
        <ion-input [(ngModel)]="email" name="email" id="email" type="text" placeholder="Enter your username"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input #passwordInputRef [(ngModel)]="password" name="password" id="password" type="password" placeholder="Enter your password"></ion-input>
        <ion-icon
          [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"
          slot="end"
          color="primary"
          (click)="togglePasswordVisibility()"
          class="eye-icon"
          style="position: absolute; right: 8px; bottom: 8px"
        ></ion-icon>
      </ion-item>

      <div class="forgot-password-container">
        <a href="#" class="forgot-password-link">Forgot Password?</a>
      </div>

      <ion-button type="submit" class="login-button" id="Login" name="Login">Sign In</ion-button>

      <ion-item *ngIf="errorMessage" lines="none" color="danger"class="message">
        <ion-label>{{ errorMessage }}</ion-label>
      </ion-item>
      
    </form>

    <div class="divider-line">
      <div class="line"></div>
      <span class="or-login-with">or login with</span>
      <div class="line"></div>
    </div>

    <div class="social-icons">
      <a href="https://www.google.com" target="_blank"
        ><ion-icon name="logo-google" class="social-icon"></ion-icon
      ></a>
      <a href="https://www.facebook.com" target="_blank"
        ><ion-icon name="logo-facebook" class="social-icon"></ion-icon
      ></a>
      <a href="https://www.linkedin.com" target="_blank"
        ><ion-icon name="logo-linkedin" class="social-icon"></ion-icon
      ></a>
      <a href="https://www.twitter.com" target="_blank"
        ><ion-icon name="logo-twitter" class="social-icon"></ion-icon
      ></a>
    </div>
  </ion-card>
</ion-content>
